@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --grisclair: rgb(115, 115, 115);
    --black: rgb(38, 38, 38);
    --white: rgb(255, 255, 255);
    --grisfonce: rgb(75,75,75);
}

body {
    min-width: 400px;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--black);
}

#profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#presentation {
    font-weight: 200;
    color: var(--grisclair);
    font-size: 1.2em;
    text-align: right;
    margin-right: 35%;
    margin-top: 0;
    margin-bottom: 4vh;
    margin-top: -5vh;

}

nav {
    margin-top: 2vh;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
    margin-right: 5vh;
    text-align: center;
    display: inline-block;


}

li>a {
    text-decoration: none;
    color: var(--grisclair);
}

h3 {
    font-weight: 250;
    text-align: center;
    margin-bottom: 4vh;
    color: var(--grisclair);
}

.separation {
    text-align: center;
    margin-bottom: 2vh;
    user-select: none;

}

.a-jeu {
    margin-left: 1.5%;

    display: inline-block;
    max-width: 31%;

}

.img-jeu {
    display: inline-block;
    width: 10%;

}


@media screen and (max-width:800px) {
    #presentation {
        text-align: center;
        margin: 0;
        ;
    }

    .separation {
        font-size: 0.6em;
    }

    .a-jeu {
        display: block;
        margin: auto;
        max-width: 60%;
        width: 80%;
        margin-bottom: 1%;
    }

    .img-jeu {
        display: block;
        width: 100%;
    }
}

/* Resposive à 800px*/
@media screen and (max-width:700px) {

    .a-jeu {
        display: block;
        margin: auto;
        max-width: 70%;
        width: 80%;
        margin-bottom: 1%;
    }

    .img-jeu {
        display: block;
        width: 100%;
    }
}



button {
    font: inherit;
    margin: 0;

}

html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.content {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
}

.center {
    text-align: center !important
}

.section {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}


.button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.red {
    color: #fff !important;
    background-color: #f44336 !important
}

.button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: var(--white);
    background-color: var(--grisfonce);
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.color {
    color: #f44336;
}

#slide1 {
    display: block;
}

.mySlides {
    border-radius: 20px;
    max-width: 400px;

    margin-bottom: 20px;
}


.infobulle-span{
    background-color: var(--grisclair);
    border-radius: 10px;
    border: solid 1px var(--grisfonce);
    /* visibility: hidden; */
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 400px;
    width: 530px;
    /* margin-top: 100px; */
    /* height: 300px; */
}
.info{
    transition: 0.4s;
}
.info:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.4s;
}
.info:hover .infobulle-span{

    display: block;

}
